@tailwind base;
@tailwind components;
@tailwind utilities;

/* Taille pour les téléphones mobiles  */

@media (max-width: 640px) {
    .mobile-padding {
        padding: 1rem; 
    }

    .mobile-padding-interne {
        padding-left: 1rem; 
    }

    table thead{
      display:none;
    }

    table td{
      display:block;
    }
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width: 600px;
  }
  
  .modal-content h2 {
    margin-bottom: 1rem;
  }
  
  .modal-content select {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  
  .modal-content button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .modal-content button:last-child {
    margin-right: 0;
  }
  
  
.remarque {
  margin-bottom: 20px;
  padding: 10px;
}

.remarque-text {
  margin-bottom: 10px; 
  line-height: 1.5;
}

.remarque-address {
  margin-top: 10px;
  padding-left: 10px;
  font-style: italic;
}
